<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Huellitas En Acción</title>


    <!-- TIPOGRAFÍAS -->

    <link
        rel="preconnect"
        href="https://fonts.googleapis.com"
    >

    <link
        rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin
    >

    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&display=swap"
        rel="stylesheet"
    >


    <!-- CSS -->

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/estilos.css') }}"
    >

</head>


<body class="pagina-bienvenida">


    <main class="bienvenida">


        <section class="bienvenida-contenido">


            <!-- IMAGEN DE BIENVENIDA -->

            <img
                class="imagen-perritos"
                src="{{ url_for('static', filename='img/bienvenida.jpeg') }}"
                alt="Bienvenida a Huellitas En Acción"
            >


            <!-- TÍTULO -->

            <h1>
                Huellitas En Acción
            </h1>


            <!-- SUBTÍTULO -->

            <h2>
                ¡Bienvenida!
            </h2>


            <!-- DESCRIPCIÓN -->

            <p>
                Un espacio creado con amor
                para nuestras mascotas.
            </p>


            <!-- BOTÓN -->

            <a
                href="{{ url_for('tienda') }}"
                class="boton-entrar"
            >
                Entrar a Huellitas En Acción
            </a>


        </section>


    </main>


</body>

</html>